@{
    ViewBag.Title = "Home Page";
}
@model List<learningMVC.Models.Employee>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

<script src="~/Scripts/DummyController.js"></script>

<script>
  
   
</script>


<div>
    @Html.ActionLink("Create Employee","Create","Home")
</div>

<div>
    
    <div> @Html.Html5().DateBox("Demo")</div>
    
    
   
    <ul>
       
        @{ 

            foreach (var item in Model)
            {
                

                    <li>@item.Age</li>
                    <li>@item.DOB</li>
                    <li>@item.Name</li>
                }
            }

    </ul>
</div>

<datalist  >

    
</datalist>
<div ng-app="myApp" >

    @*<div ng-controller="Ctrl" >

        Quantity <input type="text" ng-model="quantity" />
        Price <input type="text" ng-model="Price" />

         
        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>

        <span>{{FirstName | uppercase   }}</span>

        <button ng-click="Reset()">Click Me !</button>
    </div>*@

</div>