@model ECommerceSite.Models.UserModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#lblMessage").hide();

        $("#btnLogOn").click(function () {
            var userName = $("#UserName").val();
            var Password = $("#Password").val();

            var user = { 
                UserModel: { UserName: $("#UserName"), Password: $("#Password") }};

            $.post('/LogOn/AuthUser', { UserName: $("#UserName").val(), Password: $("#Password").val() },
                 function (data) {
                     if(data.data=="failed")
                     {
                         $("#lblMessage").show();
                         $("#lblMessage").innerHtml('Invalid User');
                     }

            });
        })
    });


</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><label id="lblMessage"></label></h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="container">
            <div class="row row-centered">
                <div class="col-md-push-4 col-md-2 col-centered">@Html.ActionLink("New Registration","NewRegistration","LogOn")</div>
                <div class="col-md-2 col-centered">@Html.ActionLink("Forgot Password", "ForgotPassword", "LogOn")</div>
                </div>
        </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log In" class="btn btn-default" id="btnLogOn" />
                    </div>
                </div>
            </div>
            }






